@font-face{
  font-family:'BrandonMedium';
  src: url('../brandon_med-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'BrandonRegular';
  src: url('../brandon_reg-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'BrandonLight';
  src: url('../brandon_light-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'BrandonBold';
  src: url('../brandon_bld-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'FuturaPTBold';
  src: url('../futurapt-bold-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'FuturaPTBook';
  src: url('../futurapt-book-webfont.woff');
  font-weight: normal;
  font-style: normal;
}



html, body{
  margin:0;
  padding:0;
  height:100%;

}




header{
  height: 45px;
  padding: 10px 0px 15px 0px;
  position: fixed;
  display: block;
  z-index: 999999;
  border-bottom: solid 1px rgb(199, 199, 199);
  width: 100%;
  background-color:rgba(253, 253, 253,.7);
  opacity:1;
  margin-top:-71px;

}

header .wrap{
  margin: 0px auto;
  max-width: 1152px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

header .name{
  font-family: 'BrandonBold';
  display: inline-block;
  float: left;
  color: rgba(51, 51, 51,.7);
  font-size: 23px;
  margin-top: 0px;
  text-transform: uppercase;
  border: 4px solid rgba(51, 51, 51,.4);
  padding: 7px;
  padding-bottom: 5px;
}

header ul.nav{
  list-style:none;
  margin: 0;
  padding: 0;
  margin-top: 14px;
  display: inline-block;
  float: right;
}

header ul.nav li{
  display: inline-block;
  font-family: 'BrandonRegular';
  text-transform: uppercase;
  margin-right:50px;
  color: rgba(51, 51, 51,.8);
  letter-spacing: 2px;
  font-size:18px;
}

header ul.nav li:hover{
  color: rgba(51, 51, 51,.4);
}

.intro{
  height:900px;
  opacity:.8;
  width:100%;
  text-align: center;
  -webkit-filter: grayscale(100%); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray;
}

.intro .inner{
  letter-spacing: 0px;
  padding-right: 48px;
  padding-left: 25px;
  opacity: .5;
  text-align: center;
  border: 30px solid rgb(255, 255, 255);
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: 'Helvetica Neue';
  font-size: 351px;
  margin-top:100px;
}
.about{
  overflow: hidden;
  padding-bottom:100px;
}

.about h2{
  font-family: 'FuturaPTBold';
  text-transform: uppercase;
  font-size:45px;
  color:rgb(66, 66, 66);
  line-height: 60px;
  margin-left: 80px;
  margin-top: 90px;
  padding-bottom:4px;
  border-bottom: 8px solid rgb(66, 66, 66);
  display: inline-block;

}

.about p{
  width:550px;
  font-family: 'FuturaPTBook';
  font-size:24px;
  color:rgb(66, 66, 66);
  text-align: justify;
  line-height: 40px;
  float:right;
  margin-right:80px;
  padding:20px;
  border: 8px solid rgb(66, 66, 66);
  margin-top:15px;
}

.about img.me{
  width:616px;
  -webkit-filter: grayscale(1);
  opacity: .9;
}


.about .image-wrap{
  height:561px;
  overflow: hidden;
  margin-left:80px;
  border: 8px solid rgb(66,66,66);
  display: inline-block;
  margin-top:15px;

}

.about .about-wrap{
  margin: 0 auto;
  width:1450px;
}

.container {
  margin-top:71px;
}


#work{
  font-family: 'FuturaPTBook';
  background-color:rgba(29,29,29,1);
  color:white;
  padding-left:79px;
  padding-top:50px;
  padding-bottom:50px;
  padding-right:67px;
}

#work .item .item-content h2{
  font-family: 'FuturaPTBold';
  font-size:30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin:0;
}

#work .item img{
  float:left;
}

#work .item img.r{
  float:right;
}

#work .items{
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width:1292px;
}

#work .item {
  width:1271px;
  border:10px solid rgba(95, 95, 95,.4);
  height:250px;
  margin-bottom:75px;

}

#work .item .item-content {
  display: inline-block;
  vertical-align: top;
  color:rgb(207,207,207);
  padding:20px;
  width: 731px;
}

#work .item .item-content p{
  text-align:justify;
  line-height:25px;
}

#work .title, #contact .title{
  font-family: 'FuturaPTBook';
  text-align: center;
  padding-bottom: 10px;
  border-bottom:10px solid rgba(95, 95, 95,.4);
  color:rgb(207,207,207);
  font-size:34px;
  text-transform: uppercase;
  display: block;
  margin:0 auto;
  width:200px;
  margin-bottom:50px;
  letter-spacing: 1px;
}

#play .title{
  font-family: 'BrandonBold';
  text-align: center;
  padding-bottom: 10px;
  border-bottom:10px solid rgba(95, 95, 95,.4);
  color:rgba(31,31,51,.85);
  font-size:35px;
  text-transform: uppercase;
  display: block;
  margin:0 auto;
  width:250px;
  margin-bottom:35px;
  margin-top:50px;
  letter-spacing: 1px; 
}

.project-wrap{
  margin: 0 auto;
  width:1292px;
  overflow: hidden;
}

.project-exp{
  margin:0;
  padding:0;
  width: 400px;
  font-family: 'FuturaPTBook';
  font-size: 24px;
  color: rgb(66, 66, 66);
  line-height: 40px;
  float: right;
  padding: 20px;
  border: 8px solid rgb(66, 66, 66);
  margin-top:25px;
  margin-right:50px;
  min-height: 500px;
  list-style: none;
}

.project-exp li{
  display:none;
}

.project-exp li.active{
  display: block;
}

#play .project-exp li h2.title{
  border:none;
  padding:0;
  font-size:26px;
}

.project-exp li p{
  text-align: justify;
  font-size:18px;
  line-height: 35px;
}

.project-exp li .tools:before{
  content:"Tools : ";
}

.project-exp li .tools{
  font-style: italic;
  font-size:22px;
}
.circle text{
  font-family: 'FuturaPTBold';
  text-transform: uppercase;
  text-anchor: middle;
  fill: rgba(49, 49, 49, 0.75);
  text-shadow: 1px 1px 0px rgba(34, 34, 34, 0.3);
  letter-spacing: 1px;
}

.circle text:hover{
  text-shadow: 4px 4px 0px rgba(34, 34, 34, 0.8);
}

#play .sketchbook .title{
  border:10px solid  rgb(66, 66, 66);
  padding-bottom:15px;
  padding-top:15px;
  font-size:28px;
  letter-spacing:2px;
  transition: border-color .75s, color .75s, background-color .75s;
  transition-timing-function: ease-in-out;
}

#play .sketchbook{
  text-decoration: none;
  margin-top:150px;
  display: block;
  margin-bottom: 150px;
}

#play .sketchbook .title:hover{
  border-color:rgba(95, 95, 95,.4);
  background-color:rgba(31,31,51,0.4);
  color:rgba(231,231,231,1);
}

footer{
  background-color:rgba(29,29,29,1);
}

footer ul{
  list-style:none;
  padding: 0;
  margin:0 auto;

  width:520px;
}

footer ul li{
  display: inline-block;
  margin:50px;
}

footer ul li:first-child{
  margin-left:70px;
}




